.lnbTestimonialsWidget {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  margin-bottom: 1em;
  --background: #fff;
  --accent-color: #4285f4;
}
.lnbTestimonialsWidget__review {
  width: 100%;
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.lnbTestimonialsWidget__review span {
  display: block;
  margin-bottom: 1em;
}
.lnbTestimonialsWidget__review span:last-child {
  margin-bottom: 0;
}
.lnbTestimonialsWidget__name {
  color: var(--accent-color);
  font-weight: 700;
}
.lnbTestimonialsWidget .lnbReviewsWidget__stars {
  display: inline-block;
  max-width: 150px;
  margin-bottom: 0.5em;
}
.lnbReviewsWidget__stars path {
  fill: var(--stars-color);
  stroke: var(--stars-color);
}
.lnbTestimonialsWidget__review {
  background: var(--reviewbg);
}
.lnbTestimonialsWidget__author {
  margin-bottom: 1rem;
  font-weight: 700;
}
.lnbTestimonialsWidget__authorText {
  color: var(--accent-color);
  font-weight: 700;
}
.lnbTestimoniasWidget__meta {
  font-size: 14px;
}
.lnbTestimoniasWidget__meta > span {
  display: inline-block;
}
.lnbTestimoniasWidget__meta > span svg {
  margin-right: 5px;
}
